.bg-white.border.overflow-hidden.rounded.shadow.flex.flex-col
  .bg-gray-100.w-full.h-64.block
  .px-8.py-6.flex-1
    %h2.font-mono.text-xl.font-bold
      %span.rounded.animate-pulse.bg-gray-200.block{:class => "w-3/4 py-2.5"}
    .mt-8.space-y-4
      %p.w-full.rounded.animate-pulse.bg-gray-200.block{:class => "py-1.5"}
      %p.rounded.animate-pulse.bg-gray-200.block{:class => "w-5/6 py-1.5"}
      %p.w-full.rounded.animate-pulse.bg-gray-200.block{:class => "py-1.5"}
    %p.mt-8.rounded.animate-pulse.bg-gray-200.block{:class => "w-5/6 py-1.5"}
