-# remove placeholders
= turbo_stream.remove("products_placeholder")
-#  append @products to the #article_list turbo_frame
= turbo_stream.update("products_list") do
  %div.grid.grid-cols-1.gap-4
    = render 'show', {product: @products&.first}
    -# - @products.each do |product|
    -#   = render 'product_tiles_view', {product: product}
-# update the pagination turbo_frame with the current pagination offset
-# = turbo_stream.update "products_pagination" do
-#   .flex.mt-12.items-center.justify-center.space-x-4.w-full
-#     - if @pagy.prev
-#       = link_to "Prev", products_url(@query_params.except!(:page).merge!({page: @pagy.prev})), data: { turbo_stream: true }, class: "bg-white dark:bg-gray-700 rounded px-6 py-1 border shadow"
-#     - if @pagy.next
-#       = link_to "Next", products_url(@query_params.except!(:page).merge!({page: @pagy.next})), data: { turbo_stream: true }, class: "bg-white dark:bg-gray-700 rounded px-6 py-1 border shadow"
-#   -# .flex.mt-12.items-center.justify-center.space-x-4.w-full
-#   -#   != pagy_nav(@pagy, anchor_string: 'data-turbo-stream="true"')
-#   %p.text-center.mt-8.text-gray-500!= pagy_info @pagy